@{
    ViewData["Title"] = "Correto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login bem-sucedido :D</h1>

<div class="form-group">
    <a asp-action="Index" class="btn btn-primary">Index</a>
</div>